/* variables */
:root{
    --primary: #F53229;
    --secondary: #b9cf81;
}

/* reset */
body,p,a,ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* base styles */
body {
    background-color: #150e0ee0;
    text-align: center;
    font-family: 'Rubik Regular';
}

h1,h3{
    color: var(--primary);
}

h1{
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.about-p {
    color: var(--secondary);
    font-size: 1.1em;
    text-align: left;
    padding: 5px;
}

.pieChart {
    background-color: var(--secondary);
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    }

.button {
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}
.button:hover{
    color: #222;
    background: var(--primary); 
}

input{
    background: rgba(255,255,255,0.05);
    padding: 6px 12px;
    border-radius: 20px;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.display__time-left {
    color: var(--primary);
    font-size: 50px;
    text-align: center;
    align-content: center;
    background-color: transparent;
}

.progress-date {
    font-size: 1em;
}

/* tomato icons */

/* container to size the tomato */
#tomato {
    width: 100px;
    cursor: pointer;
    padding: 5px;
}

  /* stalk is green and doesn't change color */
#tomato-stalk {
    fill: green;
}

  /* fruit is pale green by default */
#tomato-fruit {
    fill: var(--secondary);
}

  /* once it has the ripe class it's fully red */
.ripe #tomato-fruit {
    fill: var(--primary);
    opacity: 1;
}



/* fonts */

@font-face{
    font-family: 'Rubik Regular';
    src: url('../fonts/Rubik-Regular.ttf')
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){
    
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    .progress-date {
        font-size: 1.2em;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    .progress-date {
        font-size: 1.5em;
    }
}